body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:878px;
}
#u6916 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:433px;
  height:878px;
}
#u6917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:431px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6918 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:119px;
  width:375px;
  height:667px;
}
#u6919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6920 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:119px;
  width:375px;
  height:20px;
}
#u6921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:16px;
}
#u6922 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:121px;
  width:366px;
  height:16px;
}
#u6923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6924 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:139px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u6926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u6926 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:148px;
  width:26px;
  height:26px;
}
#u6927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6928 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:148px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6929 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:184px;
  width:375px;
  height:602px;
}
#u6930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:293px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u6931 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:275px;
  width:244px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u6932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u6933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6933 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:441px;
  width:168px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u6935 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:449px;
  width:111px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
